[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
