[submodule "vim/bundle/rails"]
	path = vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/bundler"]
	path = vim/bundle/bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/surround"]
	path = vim/bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/endwise"]
	path = vim/bundle/endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/bundle/coffee-script"]
	path = vim/bundle/coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/cucumber"]
	path = vim/bundle/cucumber
	url = https://github.com/tpope/vim-cucumber.git
[submodule "vim/bundle/ruby"]
	path = vim/bundle/ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/dash"]
	path = vim/bundle/dash
	url = https://github.com/rizzatti/dash.vim.git
[submodule "vim/bundle/funcoo"]
	path = vim/bundle/funcoo
	url = https://github.com/rizzatti/funcoo.vim.git
[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/wincent/Command-T.git
[submodule "vim/bundle/vcscommand"]
	path = vim/bundle/vcscommand
	url = git://repo.or.cz/vcscommand
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/zoomwin"]
	path = vim/bundle/zoomwin
	url = git://github.com/regedarek/ZoomWin.git
[submodule "vim/bundle/floobits"]
	path = vim/bundle/floobits
	url = https://github.com/Floobits/floobits-vim
[submodule "vim/bundle/ack"]
	path = vim/bundle/ack
	url = git://github.com/mileszs/ack.vim
[submodule "vim/bundle/bufexplorer"]
	path = vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip
[submodule "vim/bundle/rake"]
	path = vim/bundle/rake
	url = git://github.com/tpope/vim-rake.git
[submodule "vim/bundle/rspec"]
	path = vim/bundle/rspec
	url = git://github.com/thoughtbot/vim-rspec.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
